/*seasoning*/


.pop-button {
  display: block;
  font-size: 1.25em;
  font-weight: 900;
  color: black;
  background: #fff;
  text-decoration: none;
  border: 4px solid black;
  border-radius: var(--radius);
  margin: 10px auto;
  transition: all 100ms ease-in-out;
}

.pop-button:hover {
  background-color: var(--blue);
  box-shadow: 2.5px 5px 0px black;
  transform: translate(-2.5px, -5px) !important;
}

.pop-button:active {
  box-shadow: 0px 0px 0px black;
  transform: translate(1.25px, 2.5px) !important;
  transition: transform 10ms ease-in, box-shadow 10ms ease-in;
}

a.pop-button {
  width: fit-content;
  padding: 0.5rem 1rem;
}

/* flat paper effect */
.paper {
  margin: auto;
  color: black;
  background: #fff;
  border: 5px solid black;
  text-align: left;
  box-shadow: 5px 5px 0px black;
}

.blue {
  background-color: var(--blue);
}

ul {
  list-style-type: none;
}

.one-hundred {
  width: 100%;
}