/* css/styles.css */

@import url("seasoning.css");
@import url("animations.css");
@import url("media-queries.css");
@import url("fonts.css");
@import url("variables.css");

/* Reset/Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic Body / Font */
body {
  font-family: 'WorkSans';
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  background-color: white;
  color: black;
  overflow-x: hidden;
}

button {
  background-color: white;
}

img {
  max-width: 100%;
  height: auto;
}

.center {
  text-align: center;
}

/* Header / Nav */
#header {
  width: 100%;
  position: relative;
  min-height: 28vh;
}

.navbar {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1rem 1rem;
}

.menu-icon {
  display: inline-block;
  cursor: pointer;
  width: 30px;
  height: 22px;
  position: relative;
  margin: 1rem;
}

.menu-icon span {
  background-color: black;
  display: block;
  height: 4px;
  margin: 4px 0;
  transition: 0.4s;
}

.menu-icon.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.menu-icon.active span:nth-child(2) {
  opacity: 0;
}
.menu-icon.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.logo img {
  width: 100%;
  max-width: 600px;
}

.donate-now a {
  color: black;
  text-decoration: none;
}

/* Main Nav Styles */
.main-nav {
  background-color: white;
  border-radius: var(--radius);
  font-size: 1.25em;;
  width: 100%;
  transition: max-height 0.4s ease;
  overflow: hidden;
  max-height: 0; /* Hidden by default, toggled in mobile */
}

.main-nav.nav-open {
  max-height: 500px; /* Expand when toggled */
}

.main-nav ul {
  list-style: none;
}

.main-nav li {
  padding: 0.5rem;
  text-align: center;
}

.main-nav li::after {
  content:'';
}

.main-nav li a {
  text-decoration: none;
  color: black;
}

.main-nav li a.current {
  font-weight: 900;
  text-decoration: underline;
}
.main-nav li a.current::before {
  display: inline-block;
  content: url(../images/icons/paw.svg);
  height: 12px;
  width: 12px;
  padding-right: 3px;
}

@media (min-width: 768px) {
  /* Desktop Nav */
  .menu-icon {
    display: none; /* Hide hamburger on desktop */
  }
  .main-nav {
    max-height: none;
    background-color: transparent;
  }
  .main-nav ul {
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-nav li {
    margin: 0 0.5rem;
    padding: 0;
  }
}

/* Floating Social Links at bottom right */
.social-links-floating {
  z-index: 990;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: 12px solid white;
  border-radius: 30px;
  background-color: white;
  outline: 4px solid black;
}

.social-links-floating a {
  background-color: white;
  height: 50px;
  width: 50px;
  border-radius: 3em;
}

/* Hero / Section */
.hero {
  position: relative;
  width: 100%;
  min-height: 50vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
  background-position: 20% 30%;
  margin-bottom: 1rem;
  border-radius: 1em;
}

#home, #welcome, #dogs, #ranch, #support, #contact {
  color: black;
}

#home {
  color: white;
  background-position: 0% 60%;
}

#book {
  text-align: center;
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  inset: 0;
  border-radius: 0.5em;
} 

.hero-content {
  position: relative;
  padding: 2rem;
  z-index: 2;
}

.hero h1,
.hero h2 {
  margin-bottom: 1rem;
}



/* Buttons */
.button {
  display: inline-block;
  background: var(--blue);
  color: white;
  padding: 0.7rem 1.2rem;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 1rem;
  cursor: pointer;
  border: none;
}

.button:hover {
  background: var(--blue-hover);
}

/* Generic Section / Container classes */
section {
 padding: 1rem 1rem;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 1em;
}
.columns {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.columns-reverse {
  display: flex;
  flex-wrap: wrap-reverse;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.columns div {
  min-width: 250px;
  max-width: 300px;
  padding: 1em;
}

/* Gallery (Dogs Page) */
/* check media queries for gallery breakpoints*/

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.gallery-item {
  width: calc(33% - 1rem);
  background: white;
  position: relative;
  cursor: pointer;
  text-align: center;
  padding: 0.5rem;
  border-radius: var(--radius);
}
.gallery-item img {
  width: 100%;
  display: block;
  border-radius:calc(var(--radius) / 2);
}
.gallery-item h3 {
  margin-top: 0.5rem;
  font-size: min(2rem, 5vmin);
}

/* Modal for dog details */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; /* hidden by default */
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal.active {
  display: flex;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: var(--radius);
  max-width: 1200px;
  width: 90%;
  position: relative;
}

.modal-content .img-container {
  height: 40vh;
  overflow: hidden;
  border-radius: var(--radius);
}

.modal-content img {
  height: 100%;
  display: block;
  margin: 0 auto 1rem auto;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 2rem;
}

.modal-nav-button {
  background: var(--blue);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  margin: 0.5rem;
}

.modal-nav-button:hover {
  background: var(--blue-hover);
}

#prevDog {
  position: absolute;
  bottom: 0%;
  left: 1rem;
}

#nextDog {
  position: absolute;
  bottom: 0%;
  right: 1rem;
}

#dogBio {
  min-height: 10vh;
  max-height: 12vh;
  overflow: scroll;
}

#dogPressLinks {
  min-height: 10vh;
  margin-bottom: 10vh;
}

/* Press Links List */
.press-links ul {
  margin-top: 1rem;
}

#pressLinksList ul li a {
  line-height: 2.25rem;
  margin: 8px 0px;
}

/* Support Page Form */
form.volunteer-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 600px;
  margin: auto;
}

form.volunteer-form label {
  font-weight: bold;
}
form.volunteer-form input,
form.volunteer-form textarea {
  padding: 0.5rem;
  border: 3px solid black;
  border-radius: calc(var(--radius) / 2);
}

/* Donate popup */

.popup {
  display: none;
  position: fixed;
  width: 95vw;
  height: 62.5vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: var(--radius);
  z-index: 1000; /* Ensure it's on top */
  animation: 500ms popIn;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.popup-content img {
  width: 50vmax;
  border-radius: var(--radius);
}

/* Footer (optional if you want a custom footer) */
footer {
  border-top: 5px solid black;
  text-align: center;
  padding: 4rem 1rem 4rem 1rem;
  background: var(--green);
  color: white;
  margin-top: 2rem;
}
footer a {
  color: white;
}
